*{
    font-family: arial;
}

body{
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    transition: 0.15s;
}

.country{
    letter-spacing: 10px;
}

.navbar a{
    color: white;
    margin: 0px 30px;
    text-decoration: none;
    transition: 0.15s;   
}

.textelements:hover{
    text-shadow: 0 0 5px lightblue;
    cursor: pointer;
}
.navbar{
    display: flex;
    z-index: 1000;
    position: fixed;
    flex-direction: row;
    background-color: rgb(17, 17, 17);
    padding: 20px;
    border-radius: 0px 0px 40% 40%;
}

.text1{
    text-align: center;
    font-size: 60px;
    color: white;
    text-shadow: 0 0 8px black;
    margin: 230px 0px 4px 0px;
}


.header{
    background-image: url(images/philippines-1-1621524923.profileImage.2x-jpg.webp);
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    border-radius: 0 0 30px 30px;
    height: 440px;
}

#icon{
    width: 30px;
    margin-top: 6px;
    height: 30px;
    cursor: pointer;
}

.elements{
    justify-content: start;
}

.darkmode{
    display: flex;
    z-index: 1000;
    position: fixed;
    top: 0;
    right: 0;
    justify-content: end;
    align-items: end;
}

label{
    width: 66px;
    height: 20px;
    position: relative;
    display: block;
    background:white;
    border-radius: 200px;
    box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4), inset 0px -5px 15px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    margin-right: 20px;
    transition: 0.3s;
}

label:after{
    content: "";
    width: 27px;
    height: 27px;
    position: absolute;
    top: -3px;
    left: -1px;
    background: linear-gradient(180deg, #353535,#261906);
    border-radius: 200px;
    box-shadow: 0px 0px 15px;
    transition: 0.3s;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: #242424;
}

input:checked + label:after{
    left: 62px;
    transform: translateX(-50%);
    background: linear-gradient(180deg, #777,#3a3a3a);
}

:root{
    --primary-color: #edf2fc;
    --secondary-color: #212121;
}

.dark-theme{
    --primary-color: #212121;
    --secondary-color: #fff;
}

.btn-txt{
    box-shadow: 0 0 4px black;
    border: none;
    cursor: pointer;
    transition: 0.15s;
    color: var(--secondary-color);
    background-color: var(--primary-color);
    border-radius: 20px;
    font-size: 15px;
    padding: 10px 70px;
    box-shadow: inset 0 0 5px black;
    margin: 20px 0; 
}

.box{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-top: 40px;
}

.layoutbox{
    position: relative;
}

.layouttitle{
    text-shadow: 0 0 4px black;
}

.layoutdescription{
    text-shadow: 0 0 4px black;
    margin-top: 150px;
    font-weight: bold;
    padding-left: 10px;
    font-size: 24px;
}

.layoutoverlay > * {
    transform: translateY(10px);
    transition: transform 0.30s;
}


.layoutoverlay:hover > * {
    transform: translateY(0);
}

.layoutoverlay{
    cursor: pointer;
    position: absolute;
    color: white;
    top: 0;
    left: 0;
    width: 370px;
    height: 220px;
    background-color: rgba(red, green, blue, 0.5);
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    border-radius: 6px;
}

.layout{
    cursor: pointer;
    width: 370px;
    height: 220PX;
    border-radius: 5px;
    object-fit: cover;
}

footer{
    background: #111;
    margin-top: 300px;
}

.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

i{
    font-size: 30px;
}

a{
    text-decoration: none;
}


.social-buttons{
   height: 50px;
   margin: 20px;
   width: 50px;
   border-radius: 50px;
   border: none; 
   cursor: pointer;
   transition: opacity 0.15s
}

.social-buttons:hover{
    opacity: 0.7;
}

.fa-brands{
    padding: 0;
    margin: 0;
}

.bottom-footer{
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-footer p{
    color: white;
}

.designer{
    font-weight: 400;
    letter-spacing: 7px;
    margin-left: 7px;
    font-size: 19px;
}

@media (max-width:1100px) {
    .header{
        background-image: url(images/philippines-1-1621524923.profileImage.2x-jpg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .layout{
        cursor: pointer;
        width: 320px;
        height: 220PX;
        border-radius: 5px;
        object-fit: cover;
    }
    .layoutoverlay{
        cursor: pointer;
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        width: 320px;
        height: 220px;
        background-color: rgba(red, green, blue, 0.5);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border-radius: 6px;
    }
    .navbar a{
        color: white;
        margin: 0px 30px;
        text-decoration: none;
        transition: 0.15s;   
    }
    
    .textelements:hover{
        text-shadow: 0 0 5px lightblue;
    }
    
    .navbar{
        display: flex;
        position: fixed;
        flex-direction: row;
        background-color: rgb(17, 17, 17);
        padding: 12px 7px 18px 7px;
        z-index: 1000;
        border-radius: 0px 0px 40% 40%;
    }
}

@media (max-width:570px) {
    .header{
        background-image: url(images/philippines-1-1621524923.profileImage.2x-jpg.webp);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .text1{
        text-align: center;
        font-size: 35px;
        color: white;
        text-shadow: 0 0 8px black;
        margin: 230px 0px 4px 0px;
    }
    .box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-top: 40px;
    }
    .layout{
        cursor: pointer;
        width: 320px;
        height: 220PX;
        border-radius: 5px;
        object-fit: cover;
    }
    .layoutoverlay{
        cursor: pointer;
        position: absolute;
        color: white;
        top: 0;
        left: 0;
        width: 320px;
        height: 220px;
        background-color: rgba(red, green, blue, 0.5);
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        border-radius: 6px;
    }
    .navbar a{
        color: white;
        margin: 0px 15px;
        text-decoration: none;
        transition: 0.15s;   
    }
    
    .textelements:hover{
        text-shadow: 0 0 5px lightblue;
    }
    
    .navbar{
        display: flex;
        position: fixed;
        flex-direction: row;
        background-color: rgb(17, 17, 17);
        padding: 12px 7px 18px 7px;
        z-index: 1000;
        border-radius: 0px 0px 40% 40%;
    }
    .darkmode{
        display: flex;
        z-index: 1000;
        position: fixed;
        top: 45px;
        left: -10px;
        justify-content: center;
        align-items: center;
        transition: 0.15s;
    }    
}